.home{
    width: 100%;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
}

.home-image img{
    width: 1800px;
}
.home-text{
    position: absolute;
    left: 100px;
    top: 500px;
}
.home-text h1{
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 30px;
}
.home-text p{
    font-size: 25px;
    margin-bottom: 30px;
}

.home-text button{
    padding: 20px;
    border-radius: 25px;
    background-color: crimson;
    color: white;
    font-size: 22px;
    border-color: white;
}

.home-page-footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-page-footer h2{
    margin: 0 auto;
    font-size: 32px;
    font-weight: 900;
    padding-bottom: 30px;
}
.home-page-footer p{
    color: #878d94;
    padding-bottom: 90px;
}