/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.5.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.5.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.5.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.5.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media (min-width: 768px) and (max-width: 1800px) {
  .header {
    width: 170%;
  }
  .home-image img {
    width: 40%;
    margin-left: 400px;
  }
}
@media (min-width: 100px) and (max-width: 768px) {
  .header {
    width: 350%;
  }
  .home-image img {
    width: 10%;
  }
  .home-text {
    width: 10%;
  }
}
.header {
  background-color: #dc3c45;
  z-index: 0;
}

.header-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 14px;
}

.panel-list {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.panel-1, .panel-2 {
  display: flex;
  flex-direction: row;
  padding-left: 120px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
}

.panel-2 {
  align-items: end;
  padding-left: 0px;
  padding-right: 100px;
}

i {
  margin: 0 8px;
}

.navigator {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  z-index: 1;
}

.nav-items {
  display: flex;
  flex-direction: row;
  padding-right: 120px;
}

.nav-items li {
  padding: 10px;
  padding-top: 0px;
  font-size: 20px;
  font-weight: 800;
  height: 110px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-items li a {
  text-decoration: none;
  color: black;
}

.nav-items li:hover {
  background-color: crimson;
}

.nav-header {
  font-size: 30px;
  font-weight: bolder;
  word-spacing: 0.2rem;
  padding-top: 10px;
  padding-left: 120px;
}

.nav-header span {
  color: red;
  font-weight: bolder;
}

.sub-menu-wrap {
  position: absolute;
  right: 300px;
  top: 120px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 300px;
}

.sub-menu {
  background: rgb(247, 236, 236);
  padding: 20px;
  margin: 10px;
  z-index: 0;
}

.user-option li {
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
}

.user-option li a {
  text-decoration: none;
  color: #000;
}

.sub-menu-wrap1 {
  position: absolute;
  right: 180px;
  top: 120px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap1.open-menu1 {
  max-height: 300px;
}

.sub-menu1 {
  background: rgb(247, 236, 236);
  padding: 20px;
  margin: 10px;
  z-index: 0;
}

.user-option1 li {
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  font-weight: 600;
}

.user-option1 li a {
  text-decoration: none;
  color: #000;
}

.home {
  width: 100%;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.home-image img {
  width: 1800px;
}

.home-text {
  position: absolute;
  left: 100px;
  top: 500px;
}

.home-text h1 {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 30px;
}

.home-text p {
  font-size: 25px;
  margin-bottom: 30px;
}

.home-text button {
  padding: 20px;
  border-radius: 25px;
  background-color: crimson;
  color: white;
  font-size: 22px;
  border-color: white;
}

.home-page-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-page-footer h2 {
  margin: 0 auto;
  font-size: 32px;
  font-weight: 900;
  padding-bottom: 30px;
}

.home-page-footer p {
  color: #878d94;
  padding-bottom: 90px;
}

.features {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 200px;
}

.feature-name {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #eaecef;
}

.feature-name img {
  width: 120px;
  height: 50px;
  margin: 0 auto;
  padding-bottom: 14px;
}

.feature-name h2 {
  margin: 0 auto;
  font-size: 18px;
  font-weight: 700;
}

.feature-name p {
  padding: 30px;
  padding-top: 10px;
  width: 300px;
  line-height: 1.5;
  text-align: center;
  font-size: 14px;
  color: #a5abaf;
}

.feature-name button {
  width: 140px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  color: crimson;
  border-color: #e15e66;
  padding-bottom: 30px;
}

.solutions-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.solutions-footer h1 {
  font-size: 28px;
  font-weight: 900;
  padding-bottom: 30px;
}

.solutions-footer p {
  margin: 0 auto;
  width: 600px;
  color: #9ea4aa;
  line-height: 1.5;
  padding-bottom: 30px;
}

.solutions-footer button {
  width: 140px;
  height: 40px;
  padding: 10px;
  border-radius: 20px;
  margin: 0 auto;
  color: crimson;
  border-color: #e15e66;
  padding-bottom: 30px;
}/*# sourceMappingURL=style.css.map */